In [9]:
#Action1：求2+4+6+8+...+100的求和，用Python该如何写
j = 0
sum = 0
for i in range(50):
    j = j + 2
    sum = sum + j
print(sum)

2550

In [59]:
#Action2
'''
班里有5名同学，现在需要你用Python来统计下这些人在语文、英语、数学中的平均成绩、最小成绩、最大成绩、
方差、标准差。然后把这些人的总成绩排序，得出名次进行成绩输出（可以用numpy或pandas）
'''
import pandas as pd
import numpy as np

#整理表格
input = {'Chinese':[68,95,98,90,80],'Math':[65,76,86,88,90],'English':[30,98,88,77,90]}
data = pd.DataFrame(input)
data1 = data.rename({0:'zhangfei', 1:'guangyu', 2:'liubei', 3:'dianwei',4:'xuchu' }, axis='index')

#计算语文、英语、数学中的平均成绩、最小成绩、最大成绩，方差，标准差，最大成绩
data2 = np.array(data1)
output = {'zhangfei':[],'guanyu':[],'liubei':[],'dianwei':[],'xuchu':[]}
i = 0
for key,value in output.items():
    value.append(np.max(data2[i]))
    value.append(np.min(data2[i]))
    value.append(np.mean(data2[i]))
    value.append(np.var(data2[i]))
    value.append(np.std(data2[i]))
    value.append(np.sum(data2[i]))
    i = i + 1
output
output1 = pd.DataFrame(output).T

#整理数据并输出排序
output2 = output1.rename({0:'最大成绩',1:'最小成绩',2:'平均成绩',3:'方差',4:'标准差',5:'总成绩'},axis = 'columns')
output2
output2.sort_values(by = '总成绩')

          最大成绩  最小成绩       平均成绩          方差        标准差    总成绩
zhangfei  68.0  30.0  54.333333  297.555556  17.249799  163.0
dianwei   90.0  77.0  85.000000   32.666667   5.715476  255.0
xuchu     90.0  80.0  86.666667   22.222222   4.714045  260.0
guanyu    98.0  76.0  89.666667   94.888889   9.741093  269.0
liubei    98.0  86.0  90.666667   27.555556   5.249339  272.0

In [178]:
"""Action3: 对汽车质量数据进行统计
数据集：car_complain.csv
600条汽车质量投诉
Step1，数据加载
Step2，数据预处理
拆分problem类型 => 多个字段
Step3，数据统计
对数据进行探索：品牌投诉总数，车型投诉总数
哪个品牌的平均车型投诉最多
"""
import pandas as pd

#载入数据
df = pd.read_csv('E:/private/python/数据分析课程/car_complain.csv')
df

#数据预处理及统计
df_as_brand = df.groupby(df['brand'])
#for name,group in df_as_brand:
    #print(name)
count_brand = df_as_brand['id'].count() #统计品牌数量
#print(count_brand)
df_as_carmodel = df.groupby(df['car_model'])
count_carmodel = df_as_carmodel['id'].count()#print(count_carmodel)#统计车型数量

#统计品牌平均车型投诉数量
a = df.groupby(['brand','car_model'])['id'].count()
b = a.reset_index(level = 0)
b
b.groupby(b['brand']).mean()
b.groupby(b['brand']).mean().sort_values(by = 'id')
    



#a.groupby(a['brand'])

              id
brand
绵阳金杯    1.000000
北汽新能源   1.000000
北汽昌河    1.000000
华晨鑫源    1.000000
雷克萨斯    1.000000
...          ...
广汽丰田    5.666667
一汽大众    6.000000
一汽-大众   8.666667
吉利汽车    9.600000
一汽马自达  47.500000

[75 rows x 1 columns]