In [14]:
import pandas as pd
import numpy as np
from efficient_apriori import apriori

#读取数据
dataset =  pd.read_csv('E:/private/python/数据分析课程/L4/L4/MarketBasket/Market_Basket_Optimisation.csv',
                       header =  None)
dataset
dataset1 = dataset.fillna('')
dataset1
#dataset[0][1]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,,,,,,,,,,,,,,,,,
2,chutney,,,,,,,,,,,,,,,,,,,
3,turkey,avocado,,,,,,,,,,,,,,,,,,
4,mineral water,milk,energy bar,whole wheat rice,green tea,,,,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,,,,,,,,,,,,,,,,,
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,,,,,,,,,,,,,,
7498,chicken,,,,,,,,,,,,,,,,,,,
7499,escalope,green tea,,,,,,,,,,,,,,,,,,
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,,,,,,,,,,,,,,,,

In [32]:
#数据处理
index1 = []
for  i in range(7501):
    index1.append(i)
    
temp_pd = pd.DataFrame({},index = index1, columns = [0])
temp_pd
temp_pd = temp_pd.fillna('')
temp_pd

     0
0
1
2
3
4
...  ..
7496
7497
7498
7499
7500

[7501 rows x 1 columns]

In [35]:
#数据处理
for i in range(7501):
    for j in range(20):
        if dataset1[j][i] != '':
            temp_pd.iloc[i,0] = temp_pd.iloc[i,0] + '|' + dataset1[j][i]
temp_pd

                                                      0
0     |shrimp|almonds|shrimp|almonds|shrimp|almonds|...
1             |burgers|meatballs|burgers|meatballs|eggs
2                                              |chutney
3                                       |turkey|avocado
4     |mineral water|milk|energy bar|whole wheat ric...
...                                                 ...
7496                     |butter|light mayo|fresh bread
7497  |burgers|frozen vegetables|eggs|french fries|m...
7498                                           |chicken
7499                                |escalope|green tea
7500   |eggs|frozen smoothie|yogurt cake|low fat yogurt

[7501 rows x 1 columns]

In [41]:
#编码
hot_enoded = temp_pd[0].str.get_dummies('|')
hot_enoded

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,0,1,1,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [56]:
#数据挖掘
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
frequent_itemsets = apriori(hot_enoded, min_support=0.05, use_colnames=True)
frequent_itemsets
frequent_itemsets = frequent_itemsets.sort_values(by="support" , ascending=False) 
frequent_itemsets
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(mineral water),(spaghetti),0.238368,0.174110,0.059725,0.250559,1.439085,0.018223,1.102008
1,(spaghetti),(mineral water),0.174110,0.238368,0.059725,0.343032,1.439085,0.018223,1.159314
2,(chocolate),(mineral water),0.163845,0.238368,0.052660,0.321400,1.348332,0.013604,1.122357
3,(mineral water),(chocolate),0.238368,0.163845,0.052660,0.220917,1.348332,0.013604,1.073256
4,(eggs),(mineral water),0.179709,0.238368,0.050927,0.283383,1.188845,0.008090,1.062815
5,(mineral water),(eggs),0.238368,0.179709,0.050927,0.213647,1.188845,0.008090,1.043158